<div class="container">
    <div class="card">
        <div class="card-header bg-primary">
            <h2>login</h2>
        </div>

        <div class="card-body bg-light">

            <form class="form-horizontal" novalidate (ngSubmit)="login()" [formGroup]="userLoginForm">

                <div class="form-group" [ngClass]="{'has-error': (userLoginForm.get('userName').touched 
                || userLoginForm.get('userName').dirty) && !userLoginForm.get('userName').valid}">
                    <label class="col-md-4 control-label" for="userName">User Name</label>

                    <div class="col-md-8">
                        <input class="form-control" id="userNameId" type="text" placeholder="User Name (Reqd)" formControlName="userName">
                        <span class="help-block" *ngIf="(userLoginForm.get('userName').touched 
                        || userLoginForm.get('userName').dirty) && userLoginForm.get('userName').errors">
                        <span *ngIf="userLoginForm.get('userName').errors.required">
                            Please enter user name
                        </span>
                    </span>
                    </div>

                </div>


                <div class="form-group" [ngClass]="{'has-error': (userLoginForm.get('password').touched 
                || userLoginForm.get('password').dirty) && !userLoginForm.get('password').valid}">
                    <label class="col-md-4 control-label" for="password">Password</label>

                    <div class="col-md-8">
                        <input class="form-control" id="passwordId" type="password" placeholder="password (Reqd)" formControlName="password">
                        <span class="help-block" *ngIf="(userLoginForm.get('password').touched 
                        || userLoginForm.get('password').dirty) && userLoginForm.get('password').errors">
                        <span *ngIf="userLoginForm.get('password').errors.required">
                            Please enter password
                        </span>
                    </span>
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" type="submit" [disabled]="!userLoginForm.valid">Login</button>
                        </span>
                    </div>
                </div>


            </form>

            <span *ngIf="loginFailed" style="color: red">
                Invalid User Name or Password
            </span>

        </div>
    </div>
</div>
