.container{
    height: 40em;
    background-size: cover; width: auto;
    background-position: 50% 50%;
    opacity: 0.7;
    background-image: url('../../assets/background.jpg');
}
.container .card {
    position:absolute; left:550px;top: 200px;
    margin: 50px;
    width: 500px;
}